.idea
.DS_STORE
 **/.DS_Store
 **/target

 **/node_modules/
 **/test-results/
 **/playwright-report/

 **/package-lock.json
 **/TmpEmailReader.js

/Assets/02_Stage_2/02_Training/02_Exercise_2/qax-project-st-2-exe-2/utils/TmpEmailReader.js
/Assets/02_Stage_2/02_Training/02_Exercise_2/qax-project-st-2-exe-2/tests/email-validation.spec.js
/Assets/04_Stage_4/02_Training/01_Exercise_1/qax_apis_playwright_st4_exe1/node_modules/
/Assets/04_Stage_4/02_Training/01_Exercise_1/qax_apis_playwright_st4_exe1/playwright-report/

/Assets/04_Stage_4/02_Training/01_Exercise_1/qax_apis_playwright_st4_exe1/test-results/
/Assets/04_Stage_4/02_Training/01_Exercise_1/qax_apis_playwright_st4_exe1/package-lock.json
/Assets/04_Stage_4/02_Training/01_Exercise_1/qax_apis_playwright_st4_exe1/playwright.config.ts
/Assets/04_Stage_4/02_Training/02_Exercise_2/qax_apis_playwright_st4_exe2/node_modules/
/Assets/04_Stage_4/02_Training/02_Exercise_2/qax_apis_playwright_st4_exe2/package-lock.json
/Assets/04_Stage_4/02_Training/02_Exercise_2/qax_apis_playwright_st4_exe2/playwright-report/
/Assets/04_Stage_4/02_Training/02_Exercise_2/qax_apis_playwright_st4_exe2/test-results/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
